<nav class="bg-indigo-900">
  <div class="max-w-8xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-20">
      <div class="flex-shrink-0">
        <h2 class="text-2xl font-bold leading-7 text-gray-300 sm:text-3xl sm:leading-9 sm:truncate"><%= link_to "Q&A Platform", root_path %></h2>
      </div>
      <div class="hidden sm:block sm:ml-6">
        <div class="flex">
        </div>
      </div>
      <div class="hidden md:flex items-center justify-end space-x-2 md:flex-1 lg:w-0">
        <% if user_signed_in? %>
          <button class="text-sm relative inline-flex p-0.5 mr-2 overflow-hidden font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-blue-400 to-indigo-400 group-hover:from-grey-200 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
            <span class="relative p-8 px-5 py-2.5 transition-all ease-in duration-75 bg-blue-100 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
              <%= link_to "Post Question", new_post_path %>
             </span>
          </button>
          <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-5 py-3" role="alert">
            <p class="font-bold">You are logged in as <%= current_user.email %></p>
          </div>
          <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete, class: "leading-5 px-8 py-2 ml-4 mr-4 inline-flex rounded-md text-sm font-medium text-white bg-gray-900 focus:outline-none focus:text-gray focus:bg-gray-800 transition duration-150 ease-in-out" %>
          <%= image_tag(current_user.avatar_url) %>
        <% else %>
          <button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-lg font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            <%= link_to 'Sign In',  new_user_session_path %>
            </span>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</nav>
